<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.vo.MenuVO">

	<select id="getMenu" resultType="map" parameterType="map">
		select * from menu where 1=1 and parent_id = 0 
		<if test="id!=null">and id = #{id}</if>
		and power = #{power}
	</select>

	<select id="getMenuByParentId" resultType="map" parameterType="map">
	
		select * from menu where parent_id = #{parent_id}
		and power = #{power}
	</select>
	
	<update id="updateInfoNum" parameterType="map">
		update menu set info_num = #{info_num} where id=#{id}
	</update>
</mapper>